<h1>Create A Lesson!</h1>
<form class="card-body new-post-form" id="new-post-form">
    <label for="lesson-title" class="form-label">Title</label>
    <input type="text" id="lesson-title" name="lesson-title" class="form-input" />
    
    <label class="form-label" for="desc">Description</label>
    <input id="desc" name="desc" class="form-input" /><br>

    {{!-- <input type="checkbox" id="disclaimer" name="disclaimer" value="disclaimer">
    <label for="disclaimer">I Agree to <a href="/policy">Terms</a></label><br> --}}

    <button type="submit" class="btn">Post It!</button>
</form>

{{!-- Script Area --}}
<script src="/javascript/add-lesson.js"></script>
{{!-- <script src="/javascript/disclaimer.js"></script> --}}