<div class="comments">
  {{#each this}}
  <section class="comment card mt-4">
    <div class="card-body">
    <div class="meta">
      <span class="text-dark font-weight-bold">{{user.username}}</span> <small class="text-muted">{{format_date created_at}}</small>
    </div>
    <div class="text">
      <p class="card-text">{{comment_text}}</p>
    </div>
    </div>
  </section>
  {{/each}}
</div>