<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <title>Welcome to Nebula-Edu</title>
</head>
<body>
    <!-- Header Area -->
    <header id="#" class="header-bar flex-row justify-space-between align-center">
        <div class="col-1 col-lg-1 col-xl-1">
            <h1 class="uppercase flex-column"><span>Nebula</span><span style="font-size: calc(45px + .4vw);">Edu</span></h1>
        </div>
        {{!-- <div class="col-6 col-sm-2 col-md-9 col-lg-8 col-xl-8">
            <img class="ship-img" src="/images/ship-trail.png" alt="Rocket Ship Graphic" />
        </div> --}}
        <div class="col-1 col-lg-1 col-xl-1">
            {{!-- Logout Area only displays if User is loggedIn --}}
            {{#if loggedIn}}
            <a href="/logout" id="logout" class="test">Logout</a>
            {{else}}
            <a href="/login" id="login-btn" class="test">Login</a>
            {{/if}}
        </div>
    </header>

<div class="content-wrapper">
    <div class="content-container">
        <!-- Nav-Bar Area -->
        <nav class="nav-wrapper col-3">
            <div class="nav-container">
                <div class="nav-block">
                    <p class="uppercase nav-header">Learn</p>
                    <ul class="nav-list">
                        <li class="nav-item"><a href="#">HTML</a></li>
                        <li class="nav-item"><a href="#">CSS</a></li>
                        <li class="nav-item"><a href="#">Javascript</a></li>
                    </ul>
                </div>
                <div class="nav-block">
                    <p class="uppercase nav-header">Inspiration</p>
                    <ul class="nav-list">
                        <li class="nav-item"><a href="#">Designs</a></li>
                        <li class="nav-item"><a href="#">Websites</a></li>
                        <li class="nav-item"><a href="#">Applications</a></li>
                        <li class="nav-item"><a href="#">Games</a></li>
                    </ul>
                </div>
                {{#if loggedIn}}
                <div class="nav-block">
                    <p class="uppercase nav-header">Community</p>
                    <ul class="nav-list">
                        <li class="nav-item"><a href="#">Community Posts</a></li>
                        <li class="nav-item"><a href="#">Your Posts</a></li>
                    </ul>
                </div>
                <div class="nav-block">
                    <p class="uppercase nav-header">Dashboard</p>
                    <ul class="nav-list">
                        <li class="nav-item"><a href="#">Your Articles</a></li>
                    </ul>
                </div>
                {{/if}}
            </div>
        </nav>

        {{!-- Main Body/Content Area --}}
        <main>
            {{{ body }}}
        </main>
    </div>
</div>

    {{!-- Script Area, but only when logged in --}}
    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>