<h2>Create New Post</h2>

<form id="new-post-form">
    <div class="form-group">
        <label for="lesson-title" class="form-label">Issue</label>
        <input type="text" id="lesson-title" name="lesson-title" class="form-input form-control" />
    </div>
    <div>
        <label for="desc">Description of the Issue</label>
        <textarea type="text" id="desc" name="desc" class="form-textarea form-control m2"></textarea>
    </div>
    <div class="d-flex align-items-end flex-column justify-content-end mb-3">
        <button type="submit" class="btn btn-deep-purple">Create</button>
    </div>
</form>

<script src="/javascript/add-lesson.js"></script>