<h1>Create A Lesson!</h1>
<form class="card-body new-post-form" id="new-post-form">
    <label for="post-title" class="form-label">Title</label>
    <input type="text" id="post-title" name="post-title" class="form-input" />
    
    <label class="form-label" for="desc">Content</label>
    <input id="desc" name="desc" class="form-input" /><br>

    <input type="radio" id="1" name="topic_id" value="html">
    <label for="html">HTML</label><br>

    <input type="radio" id="2" name="topic_id" value="css">
    <label for="css">CSS</label><br>

    <input type="radio" id="3" name="topic_id" value="javascript">
    <label for="javascript">JS</label><br>

    <input type="radio" id="4" name="topic_id" value="community">
    <label for="community">Community</label><br>

    <button type="submit" class="btn">Create</button>
</form>

{{!-- Script Area --}}
<script src="/javascript/add-lesson.js"></script>