<h2>Application Websites</h2>
<p>Here's some cool sites that call to the Developer in you.</p>

<a href="https://soulwire.co.uk/">
    <div class="card mb-4">
        <img class="card-img-top" src="https://assets.awwwards.com/awards/images/2011/11/15-soulwire.jpg" alt="Card Image">
        <div class="card-body">
            <h3 class="card-title">Soulwire</h3>
            <p class="card-text">This website takes you on an impressive design journey. Worthy of our Application's top list!</p>
        </div>
    </div>
</a>

<a href="http://y78.fr/">
    <div class="card mb-4">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0533/2089/files/web-design-portfolio-inspiration-yul-moreau.png?format=webp&v=1503510218" alt="Card Image">
        <div class="card-body">
            <h3 class="card-title">Yul Moreau</h3>
            <p class="card-text">This site also has a pretty impressive use of compressed video to showcase what you can really do with a portfolio site.</p>
        </div>
    </div>
</a>

<a href="https://kokokaka.com/#cat=news">
    <div class="card mb-4">
        <img class="card-img-top" src="https://assets.awwwards.com/awards/images/2011/11/21-kokokaka.jpg" alt="Card Image">
        <div class="card-body">
            <h3 class="card-title">Kokokaka</h3>
            <p class="card-text">This site has an impressive use of imagery to tell a story!</p>
        </div>
    </div>
</a>

<a href="http://www.treerreceramiche.com/it/home/">
    <div class="card mb-4">
        <img class="card-img-top" src="https://assets.awwwards.com/awards/images/2011/11/23-tre.jpg" alt="Card Image">
        <div class="card-body">
            <h3 class="card-title">Tre Erre Ceramiche</h3>
            <p class="card-text">This site has an impressive layout. Worth a look.</p>
        </div>
    </div>
</a>