<h1>Welcome to The Community!</h1>
<p>Ask Questions, Answer, and be Kind! Enjoy.</p>

{{#each lessons as |lessons|}}
    {{> lesson-info lessons }}
{{/each}}

{{#if loggedIn}}
    {{> add-lesson}}
{{/if}}
