{{#if lessons.length}}
<section>
    <h2>Your Posts</h2>
    {{#each lessons as |lessons|}}
        {{> dash-edit lessons}}
    {{/each}}
</section>
{{/if}}


<a class="link" href="/community">Go to Community!</a>
 
<script src="/javascript/add-lesson.js"></script>