{{#if lessons.length}}
<section>
    <h2>Your Posts</h2>
    {{#each lessons as |lessons|}}
        {{> dash-edit lessons}}
    {{/each}}
</section>
{{/if}}


{{!-- <button type="submit" class="btn"><a class="link" href="/new-lesson">+ New Lesson</a></button> --}}
 
<script src="/javascript/add-lesson.js"></script>