<h2 class="uppercase">Edit Post</h2>
<form class="edit-post-form">
    <div class="form-group">
        <label for="lesson-title" class="form-label">Title</label>
        <input name="lesson-title" type="text" value="{{lessons.title}}" class="form-input form-control" />
    </div>
    <div class="form-group">
        <label class="form-label" for="desc">Description</label>
        <textarea name="desc" type="text" class="form-input form-control m2">{{lessons.desc}}</textarea>
    </div>
    <div class="form-group flex-row justify-content-end">
        <button type="button" class="delete-post-btn btn btn-blue-grey">Delete Lesson</button>
        <button type="submit" class="btn btn-deep-purple">Update</button>
    </div>
    </form>

<script src="/javascript/edit-lesson.js"></script>
<script src="/javascript/delete-lesson.js"></script>