<h2>Game Websites</h2>
<p>Ever thought about designing games through the browser. After seeing these sites, you might find yourself wanting to know how it was done.</p>

<a href="https://soulwire.co.uk/">
    <div class="card mb-4">
        <img class="card-img-top" src="https://assets.awwwards.com/awards/images/2011/11/15-soulwire.jpg" alt="Card Image">
        <div class="card-body">
            <h3 class="card-title">Soulwire</h3>
            <p class="card-text">This site has some impressive looking games!</p>
        </div>
    </div>
</a>

<a href="http://www.rleonardi.com/">
    <div class="card mb-4">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0533/2089/files/web-design-portfolio-inspiration-robby-leonardi.png?format=webp&v=1503510125" alt="Card Image">
        <div class="card-body">
            <h3 class="card-title">Interactive Resume</h3>
            <p class="card-text">This is a great example of gamified webdesign. This entire portfolio is a game!</p>
        </div>
    </div>
</a>