<h2 class="uppercase">Login</h2>
<form id="login-form">
    <div class="form-group">
        <label class="form-label" for="username-login">Username</label><br>
        <input id="username-login" type="text" autofocus="true" class="form-input form-control" />
    </div>
    <div class="form-group">
        <label class="form-label" for="password-login">Password</label><br>
        <input id="password-login" type="password" class="form-input form-control" />
    </div>
    <div class="d-flex align-items-end flex-column justify-content-end mb-3">
        <button type="submit" class="btn btn-deep-purple">Login</button>
        <a href="/signup" class="login-link"><small>Sign up instead</small></a>
    </div>

</form>

{{!-- Script Area --}}
<script src="/javascript/login.js"></script>