<h2>My Posts</h2>
{{#if lessons.length}}
{{#each lessons as |lessons|}}
    {{> community-info lessons }}
{{/each}}
{{/if}}

{{!-- {{#if lessons.length}}
<div class="card">
    <h3 class="card-header">Your Community Posts</h3>
    <div class="card-body">
        <ol>
            {{#each lessons as |lessons|}}
            <li>
                <strong>{{title}} ({{format_date created_at}}) </strong>
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">(Edit post)</a><br>
                <div><q>{{post_body}}</q></div>
            </li>
            {{/each}}
        </ol>
    </div>
</div>
{{/if}} --}}