{{> lesson-info lessons }}
<p>{{lessons.desc}}</p>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add a Comment!</button>
    <button type="button" class="upvote-btn">Like it? Upvote!</button>
  </div>
</form>
{{/if}}

{{> comments lessons.comments}}

{{#if loggedIn}}
    <script src="/javascript/comment.js"></script>
    <script src="/javascript/upvote.js"></script>
{{/if}}